h1 { font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px;
    line-height: 1; text-align: center;
}

p {
    color: #000033;
}

hr {
    border-color: #000033;
}

img#map {
    width:50%;
    height:50%;
}

img {
  width:80%;
}

table p {
    font-size: 80%;
}

.jumbotron h1 {
    color: #006262;
}

.jumbotron p {
    width: 50%;
    margin-left: 25%;
}

.navbar {
    background-color: #006262;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

#press img {
    width: 20%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    margin-top: -55%;
    background: rgba(100, 100, 100, 0);
    color: #f1f1f1;
    width: 35%;
    padding: 20px;
    font-size:75%;
}

.jumbotron .content p {
    width : 80%;
    margin-left:5%;
    color: white;

}

@media only screen and (max-width: 849px) {
    .show-mobile {
        display: inline;
    }
    .hide-mobile {
        display: none;
    }
}

@media only screen and (min-width: 850px) {
    .show-mobile {
        display: none;
    }
    .hide-mobile {
        display: block;

    }
}