h1 { font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px;
    line-height: 1; text-align: center;
}

p {
    color: #000033;
}

hr {
    border-color: #000033;
}

img#map {
    width:50%;
    height:50%;
}

img {
  width:80%;
}

table p {
    font-size: 80%;
}

.jumbotron h1 {
    color: #006262;
}

.jumbotron p {
    width: 50%;
    margin-left: 25%;
}

.navbar {
    background-color: #006262;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

#press img {
    width: 20%;
}
